            body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: green;
  font-size: 16px;
}

.event-header {
  background-color: #567a56;
  color: white;
  padding: 25px;
  position: relative;
  width: 100%;
  top: 0;
  border-bottom: 0px solid #229c22;
}

.subject {
  margin-top: 120px;
  padding: 16px;
  background-color: #1fe01f;
  height: auto;
  
}

.party-details {
  border: 2px solid #5da35d;
  padding: 20px;
  margin: 0 auto;
  width: 70%;
  background-color: #93db93;
}

.feature {
  font-weight: bold;
  color: #429642;
}

.invite-advert {
  font-style: italic;
  margin-top: 14px;
}

.rsvp-button {
  display: inline-block;
  background-color: #71c771;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.footer {
  background-color: #073307;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

/* RSVP Form Styles */
.form-container {
  margin: 100px auto;
  width: 60%;
  padding: 20px;
  background-color: #fff;
  position: relative
  border: 2px solid #08a124;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input, form select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #cddeca;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #89b089;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}